/* line 1, /home/mila/Desktop/codhouse/lux/sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font: 'Pontano Sans', sans-serif;
}

/* line 7, /home/mila/Desktop/codhouse/lux/sass/main.scss */
.contenedor {
  width: 80%;
  margin: auto;
  font-family: 'Pontano Sans', sans-serif;
}

/* line 14, /home/mila/Desktop/codhouse/lux/sass/main.scss */
h2 {
  color: #334553;
  font-family: 'Pontano Sans', sans-serif;
}

/* line 18, /home/mila/Desktop/codhouse/lux/sass/main.scss */
h2:hover {
  color: #4CAF50;
}

/* line 21, /home/mila/Desktop/codhouse/lux/sass/main.scss */
body {
  background-color: BackSGrey;
}

/* line 1, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header {
  padding: 0px;
  background: #334553;
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* line 12, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header body img {
  background-image: cover;
}

/* line 17, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 22, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor h1 {
  color: #ffffcc;
  font-weight: bold;
  font-family: "Pontano Sans", sansserif;
  font-size: 2rem;
}

/* line 29, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor nav
li {
  display: inline-block;
  margin: 10px;
  font-family: "Pontano Sans", sansserif;
  font-size: 1.7rem;
}

/* line 36, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor a {
  color: #ffffcc;
}

/* line 40, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor a:hover {
  color: #2c69ba;
  font-family: "Pontano Sans", sansserif;
  font-weight: bold;
}

/* line 46, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor a .subb:hover {
  color: #ffffcc;
}

/* line 52, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor .subb {
  background-color: #334553;
  margin: 10px;
  color: white;
}

/* line 58, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor .subb:hover {
  color: #ffffcc;
}

/* line 65, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor .submenu {
  position: relative;
  display: inline-block;
}

/* line 70, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor .submenu-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* line 79, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor .submenu-content a {
  color: #334553;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

/* line 87, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor .submenu-content a:hover {
  background-color: #ddd;
}

/* line 89, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor .submenu:hover .submenu-content {
  display: block;
}

/* line 91, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor .submenu:hover .subb {
  background-color: #3e8e41;
}

/* line 1, /home/mila/Desktop/codhouse/lux/sass/_home.scss */
.home {
  background-image: url("../imagenes/homepage.jpeg");
  background-size: cover;
  border: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

/* line 11, /home/mila/Desktop/codhouse/lux/sass/_home.scss */
fieldset {
  color: #334553;
  font-weight: bold;
  background: transparent;
  box-shadow: 0 0 10px #999;
  border-radius: 8px;
  padding: 10px 50px;
  border: 10px;
  margin: 10px;
  box-sizing: border-box;
  font-size: 0.9rem;
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 50px;
}

/* line 31, /home/mila/Desktop/codhouse/lux/sass/_home.scss */
fieldset:hover {
  background: white;
  font-weight: bold;
}

/* line 37, /home/mila/Desktop/codhouse/lux/sass/_home.scss */
span {
  font-size: 0.9rem;
  text-align: center;
  color: #4CAF50;
  font-weight: bold;
}

/* line 45, /home/mila/Desktop/codhouse/lux/sass/_home.scss */
button {
  color: #4CAF50;
  padding: 5px 15px;
  background: transparent;
}

/* line 51, /home/mila/Desktop/codhouse/lux/sass/_home.scss */
button:hover {
  background: #334553;
  color: White;
}

/* line 1, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.music {
  background: #f7f7f7;
}

/* line 5, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.videos {
  padding-top: 80px;
}

/* line 9, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.live {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

/* line 15, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
iframe {
  padding: 10px 30px;
}

/* line 19, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.tunes {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

/* line 25, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
iframe {
  padding: 10px 30px;
}

/* line 29, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.discography {
  height: 100vh;
  color: #334553;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

/* line 39, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.disc h2 {
  padding-top: 80px;
}

/* line 43, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
lh {
  font-weight: bold;
}

/* line 47, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
article.disc {
  color: #f7f7f7;
}

/* line 52, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
article.disc:hover {
  background: #ffffff;
  color: #595959;
}

/* line 57, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
ol {
  font: "Pontano Sans", sansserif;
  float: left;
  padding: 30px 2px 20px;
  align-self: flex-start;
  list-style: unset;
}

/* line 65, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
li {
  align-items: center;
  padding: 2px;
}

/* line 71, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
img.disc {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 76, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
img.disc:hover {
  transform: scale(1.1);
}

/* line 80, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
lh {
  color: #c0a869;
  font-weight: bold;
  background: #f7f7f7;
  border: 1px solid #c0a869;
  padding: 5px 18px;
  margin: auto;
}

/* line 89, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
lh:hover {
  background: #c0a869;
  color: #f7f7f7;
}

/* line 94, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.w {
  font-size: .76rem;
  padding: 5px;
}

/* line 99, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
p.rvw {
  display: inline-block;
  right: 100px;
  padding: 5px 15px;
  color: #00004d;
  font-weight: bold;
  padding: 5px 15px;
  margin: auto;
}

/* line 109, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
p.rvw:hover {
  background: white;
}

/* line 113, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.rvw a {
  color: #00004d;
  padding: 5px;
}

/* line 117, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.rvw a:hover {
  background: white;
  color: #4CAF50;
}

/* line 1, /home/mila/Desktop/codhouse/lux/sass/_band.scss */
.about {
  padding: 100px 50px 10px 50px;
  color: #334553;
}

/* line 5, /home/mila/Desktop/codhouse/lux/sass/_band.scss */
.them {
  margin: auto;
  padding-left: 180px;
}

/* line 10, /home/mila/Desktop/codhouse/lux/sass/_band.scss */
.members {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

/* line 18, /home/mila/Desktop/codhouse/lux/sass/_band.scss */
article {
  width: 300px;
  color: #334553;
  display: inline-block;
  padding: 25px 15px;
  align-self: flex-start;
}

/* line 26, /home/mila/Desktop/codhouse/lux/sass/_band.scss */
article:hover {
  background: #f7f7f7;
}

/* line 31, /home/mila/Desktop/codhouse/lux/sass/_band.scss */
h3:hover {
  color: #4CAF50;
}

/*.L{				
	   		display: inline-block;
	   		padding:10px 5px;
	   	}
	   	
	   	.B{
	   		display: inline-block;
	   		padding:10px 5px;
	   	}	*/
/* line 1, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
#tour {
  flex-direction: row;
  align-content: center;
  overflow: auto;
  padding: 80px 100px 50px  200px;
}

/* line 10, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
.dates {
  margin: auto;
  padding: 10px 70px;
  border-bottom: 1px solid #334553;
  border-top: 1px solid #334553;
  width: 800px;
  display: flex;
  justify-content: space-between;
}

/* line 21, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
.dates:hover {
  background: white;
}

/* line 26, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
.date {
  float: left;
  width: 35%;
  list-style: none;
  padding: 10px;
}

/* line 33, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
.tickets {
  float: right;
  background: #c0a869;
  color: #ffffcc;
  border: 10px;
  padding: 5px 20px;
}

/* line 41, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
.tickets:hover {
  background: #4CAF50;
  color: #ffffcc;
}

/* line 1, /home/mila/Desktop/codhouse/lux/sass/_contact.scss */
.contact {
  margin: auto;
  height: 100vh;
  color: #334553;
  padding: 100px;
  width: 800px;
}

/* line 12, /home/mila/Desktop/codhouse/lux/sass/_contact.scss */
.contactp ul {
  display: flex;
}

/* line 2, /home/mila/Desktop/codhouse/lux/sass/_iconbar.scss */
.icon-bar {
  width: 90px;
  position: fixed;
  right: 30px;
  bottom: 120px;
}

/* line 9, /home/mila/Desktop/codhouse/lux/sass/_iconbar.scss */
a.icon {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 2rem;
  color: #334553;
  padding: 3px;
}

/* line 18, /home/mila/Desktop/codhouse/lux/sass/_iconbar.scss */
a.icon:hover {
  color: #4CAF50;
  font-size: 2.2rem;
}

/*# sourceMappingURL=../css/main.map */