@charset "UTF-8";
/* line 1, /home/mila/Desktop/codhouse/lux/sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font: 'Pontano Sans', sans-serif;
}

/* line 7, /home/mila/Desktop/codhouse/lux/sass/main.scss */
.contenedor {
  width: 80%;
  margin: auto;
  font-family: 'Pontano Sans', sans-serif;
  color: #595959;
}

/* line 14, /home/mila/Desktop/codhouse/lux/sass/main.scss */
h2 {
  color: #4d4d4d;
  font-family: 'Pontano Sans', sans-serif;
}

/* line 18, /home/mila/Desktop/codhouse/lux/sass/main.scss */
h2:hover {
  color: #2c69ba;
}

/* line 1, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header {
  padding: 0px;
  background: #334553;
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* line 12, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header body img {
  background-image: cover;
}

/* line 17, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 22, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor h1 {
  color: #ffffcc;
  font-family: "Pontano Sans", sansserif;
  font-size: 2rem;
}

/* line 30, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor nav ul li {
  display: inline-block;
  margin: 10px;
  font-family: "Pontano Sans", sansserif;
  font-size: 1.7rem;
}

/* line 36, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor nav ul li a {
  color: #ffffcc;
}

/* line 40, /home/mila/Desktop/codhouse/lux/sass/_header.scss */
header .contenedor nav ul li a:hover {
  color: #2c69ba;
  font-family: "Pontano Sans", sansserif;
  font-weight: bold;
}

/* line 1, /home/mila/Desktop/codhouse/lux/sass/_home.scss */
.home
img {
  margin: 0;
}

/* line 7, /home/mila/Desktop/codhouse/lux/sass/_home.scss */
.icon-bar {
  position: fixed;
  display: inline-block;
  right: 40px;
  bottom: 160px;
}

/* line 15, /home/mila/Desktop/codhouse/lux/sass/_home.scss */
.icon-bar li {
  list-style: none;
  text-decoration: none;
}

/* line 19, /home/mila/Desktop/codhouse/lux/sass/_home.scss */
.icon-bar li a:hover {
  color: #ff751a;
  font-size: 2.5rem;
}

/* line 23, /home/mila/Desktop/codhouse/lux/sass/_home.scss */
.icon-bar li a {
  font-size: 2rem;
  color: #2c69ba;
  padding: 10px;
  border: 20px;
  margin: 10px;
}

/* line 1, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.videos {
  padding: 100px;
}

/* line 4, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.videos iframe {
  padding: 50px;
}

/* line 10, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.discography {
  padding: 100px;
  font-family: "Pontano Sans", sansserif;
  color: #4d4d4d;
  display: grid;
  grid-template-columns: 300px 300px 400px;
  grid-template-rows: 300px 300px;
  grid-gap: 10px;
  border: auto;
  justify-items: center;
  grid-template-areas: "BW SF Bo" "La We At";
}

/* line 24, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
article
p {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 20px;
}

/* line 35, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
article
img {
  padding: 10px;
  transform: scale(1.4);
}

/* line 41, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.BW {
  grid-area: BW;
  padding: 20px;
  place-self: center;
}

/* line 47, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.SF {
  grid-area: SF;
  padding: 20px;
  place-self: center;
}

/* line 53, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.Bo {
  grid-area: Bo;
  padding: 20px;
  place-self: center;
}

/* line 59, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.La {
  grid-area: La;
  padding: 20px;
  place-self: center;
}

/* line 65, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.We {
  grid-area: We;
  padding: 20px;
  place-self: center;
}

/* line 71, /home/mila/Desktop/codhouse/lux/sass/_music.scss */
.At {
  grid-area: At;
  padding: 20px;
  place-self: center;
}

/* line 1, /home/mila/Desktop/codhouse/lux/sass/_band.scss */
.about {
  padding: 50px 50px 10px 50px;
}

/* line 4, /home/mila/Desktop/codhouse/lux/sass/_band.scss */
.them {
  margin: auto;
  padding-left: 150px;
}

/* line 9, /home/mila/Desktop/codhouse/lux/sass/_band.scss */
.members {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* line 19, /home/mila/Desktop/codhouse/lux/sass/_band.scss */
.C {
  width: 32%;
  display: inline-block;
  padding: 10px 5px;
}

/* line 24, /home/mila/Desktop/codhouse/lux/sass/_band.scss */
.L {
  width: 32%;
  display: inline-block;
  padding: 10px 5px;
}

/* line 30, /home/mila/Desktop/codhouse/lux/sass/_band.scss */
.B {
  width: 32%;
  display: inline-block;
  padding: 10px 5px;
}

/* line 1, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
#tour {
  padding: 100px;
  flex-direction: row;
  align-content: left;
}

/* line 8, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
fieldset {
  box-shadow: 0 0 3px #999;
  border-radius: 8px;
  border-style: none;
  padding: 13px;
  border: 20px;
  margin: 10px;
  box-sizing: border-box;
  color: grey;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 100px;
}

/* line 24, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
button {
  background: white;
}

/* line 27, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
button:hover {
  background: grey;
}

/* line 31, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
span {
  color: #2c69ba;
  font-size: 0.9rem;
  text-align: center;
  padding: 15px;
  border: 10px;
  margin: 10px;
}

/* line 42, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
.dates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 0 3px #999;
  border-radius: 8px;
  margin: 1em 0;
  justify-content: center;
}

/* line 51, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
.dates ul {
  width: 100%;
  border-bottom: 1px #2c69ba;
  background-color: white;
  justify-content: center;
}

/* line 57, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
.dates ul li {
  list-style: none;
  width: 32%;
  display: inline-block;
  padding: 20px;
}

/* line 63, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
.dates ul li a {
  display: inline-block;
  background: #2c69ba;
  padding: 5px 20px;
  color: white;
  font-size: 1.1rem;
  border-color: white;
}

/* line 71, /home/mila/Desktop/codhouse/lux/sass/_tour.scss */
.dates ul li a:hover {
  background: #4d4d4d;
}

/* line 1, /home/mila/Desktop/codhouse/lux/sass/_contact.scss */
.contact {
  margin: auto;
  height: 100hw;
  color: #4d4d4d;
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
}

/* line 12, /home/mila/Desktop/codhouse/lux/sass/_contact.scss */
.contact ul {
  padding: 20px;
  display: inline-block;
  padding: 10px 50px 10px 50px;
}

/* line 17, /home/mila/Desktop/codhouse/lux/sass/_contact.scss */
.contact ul li {
  padding: 10px;
}

/* line 21, /home/mila/Desktop/codhouse/lux/sass/_contact.scss */
.contact ul span {
  color: #4d4d4d;
}

/* line 25, /home/mila/Desktop/codhouse/lux/sass/_contact.scss */
.contact ul .postcard {
  position: relative;
  display: inline-block;
  transform​: ​ rotate​ 45deg;
}

/*# sourceMappingURL=../css/main.map */