.about{
	padding: 50px 50px 10px 50px;
}
  .them{
  	margin:auto;
    padding-left: 150px;
    }

	.members{

		display:flex;
		align-items: center;
		flex-direction: column; 
	}	

	h3{

	}
			.C{				
		  	width: 32%;
	   		display: inline-block;
	   		padding:10px 5px;
			}
			.L{				
		  	width: 32%;
	   		display: inline-block;
	   		padding:10px 5px;
	   	}
	   	
	   	.B{
		  	width: 32%;
	   		display: inline-block;
	   		padding:10px 5px;
	   	}	
	



