.about{
	padding: 100px 50px 10px 50px;
	color: $tDGrey;
}
  .them{
  	margin:auto;
    padding-left: 180px;
    }

	.members{

		display:flex;
		justify-content: space-around;
		align-items: stretch; 
	}	


			article{				
		  	width: 300px;
		  	color: $tDGrey;
	   		display: inline-block;
	   		padding:25px 15px;
	   		align-self:flex-start;
			}

			article:hover{
				background:$backSGrey;
			}


			h3:hover{				
				color:$tSapo;
			}
			
			/*.L{				
	   		display: inline-block;
	   		padding:10px 5px;
	   	}
	   	
	   	.B{
	   		display: inline-block;
	   		padding:10px 5px;
	   	}	*/
	



