.contact{
	
	margin:auto;
	color:$tBody;
	padding: 150px;
 
	img{
		position:relative;
		display: inline-block;
		margin-left:550px;
		bottom: 250px;
		}

	ul{
		padding:20px;
		display: inline-block;
		padding: 10px;

		li{
			padding:10px;
		}

	}
}