header {
padding: 0px;
background: #334553;
opacity:0.9;
position: fixed;
top: 0;
width:100%;
z-index: 1;


	body{
		img{
			background-image: cover;
		}

	}
	.contenedor{
		display:flex;
		justify-content: space-between;
		align-items: center;

		h1{
			color:#ffffcc;
			font-family: $fontA;
			font-size: 2rem;

		}	
		nav{
			ul{
				li{
					display:inline-block;
					margin:10px;	
					font-family: $fontA;
					font-size: 1.7rem;

					a{
					color:#ffffcc;
					}
					
					a:hover{
						color:rgb(44, 105, 186);
						font-family: $fontA;
						font-weight: bold;
					}
				}
			}
		}
	}
}

