.home 
	img{
	margin: 0;

}

.icon-bar  {
	
	position:fixed;
	display: inline-block;
	right:40px;
	bottom:160px;
	
	 
	li{ 
			list-style: none;
			text-decoration:none;

			a:hover{
			 	color:rgb(255, 117, 26);
			 	font-size:2.5rem;
			}
				a {  
				font-size:2rem;
				color: rgb(44, 105, 186);
			 	padding:10px;    
			 	border: 20px;
			 	margin:10px;
			 
				}
		 
	}		
	
}