.icon-bar  {
	position:fixed;
	display: inline-block;
	right:50px;
	bottom:120px;
	
	li{ 
		list-style: none;
		text-decoration:none;

		a:hover{
			color: orange;
		}
			a {  
				color: rgb(255, 153, 51);
				padding:10px;    
				border: 20px;
				margin:10px;
				}
			}  
		}		
	}
}
