$fontA:'Pontano Sans', sansserif;
$tHeader: #ffffcc, bold;
$tGrey: #595959;
$tDGrey: #334553;
$tGold:#c0a869;
$tBlue: #2c69ba;
$tCream: #ffffcc;
$tSGrey:#f7f7f7; 
$tDBlue:#00004d;
$tSapo: #4CAF50;

$backHeader: rgba(0, 0, 77, .5);
$backGrey: #4d4d4d;
$backGold:#c0a869;
$backDGrey: #334553;
$backSGrey:#f7f7f7; 
$backSCream: #ffffe6;
$backWhite: #ffffff;
$backBlue: #2c69ba;
$backDBlue:#00004d;

$borderGold:#c0a869;
