@import 'reset';
@import 'variables';
@import 'mixins';
@import 'extend';


.contenedor{
	width: 80%;
	margin:auto;
	font-family: 'Pontano Sans', sans-serif;
	
}	

h2{
	color:$tDGrey;
	font-family: 'Pontano Sans', sans-serif;
	}
	h2:hover{
	color:$tSapo;
	}
body{
	background-color:BackSGrey; 
}	


@import 'header';
@import 'home';
@import 'music';
@import 'band';
@import 'tour';
@import 'contact';
@import 'iconbar';